div[data-controller='map' data-map-stations-value="#{Station.cache_all.to_json}"
                          data-map-arrived-ids-value="#{station_ids.to_json}"
                          data-map-current-id-value="#{current_station.id}"]
  #map.w-full class='h-[440px] md:h-[500px]'
