div[data-controller='map' data-map-stations-value="#{Station.cache_all.to_json}"
                          data-map-arrived-ids-value="#{station_ids.to_json}"
                          data-map-current-id-value="#{current_station.id}"
                          data-map-station-suffix-value="#{t('js.map.station_suffix')}"]
  #map.w-full class='h-[440px] md:h-[500px]'
