ruby:
  title "#{@arrival.station.name}駅に到着"
  set_meta_tags description: "#{@arrival.station.name}駅の到着のページです。"
  image = image_url('arrived.png')
  set_meta_tags({ og: { image: }, twitter: { card: 'summary', image: } })

.text-center.my-8
  p.text-3xl.font-bold.mt-4 #{@arrival.station.name}駅に到着しました🎉
  = image_tag 'arrived.png', class: 'inline w-2/3 py-4', alt: '山手線徒歩で一周に挑戦中'
  p.text-3xl みんなで応援しよう！
