div data-controller="map"
  #map style="width: 500px; height: 400px;"
  input data-map-target="ids" value="#{@walk.station_ids}" type="hidden"
  = button_tag "線を引く", data: { action: 'click->map#draw', map_count_value: 140 }
