- title 'ダッシュボード'
- set_meta_tags description: '現在の一周の状態が表示される画面です。'

= render 'shared/errors', model: @arrival

- if @walk.finished?
  p おめでとうございます🎉
  p あなたは#{Station.count}駅全てを歩ききりました！
  = link_to '> 記録を見る', @walk.arrival_of_goal
- else
  = render partial: 'walk', locals: { walk: @walk, arrival: @arrival, current_station: @station }

= render partial: 'shared/map', locals: { current_station: @station, station_ids: @arrivals.pluck(:station_id) }

.flex.py-2.text-sm
  table
    tr
      td 出発から
      td data-controller="time" data-time-departure-date-value="#{@walk.created_at.iso8601}" #{elapsed_time(@walk)}
    tr
      td 歩いた駅
      td #{number_of_walked(@arrivals)}駅（残り#{number_of_remaining(@arrivals)}駅）
    tr
      td.pr-1 歩いた距離
      td 約#{total_distance(@arrivals)}km（残り#{remaining_distance(@arrivals)}km）
  = link_to '> 履歴', arrivals_path, class: 'text-gray-500 text-base font-medium py-2 px-2 border hover:bg-gray-100 rounded ml-auto h-full'
