@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply inline-flex items-center justify-center px-6 py-2 bg-bright-orange-100 text-white rounded-lg shadow transition-all	duration-200 ease-out hover:bg-bright-orange-50 focus:outline-none focus:ring focus:ring-red-400 focus:ring-opacity-75 h-11 cursor-pointer;
  }

  .link-important {
    @apply inline-flex items-center justify-center px-6 border border-gray-400 transition-all	duration-200 ease-out hover:bg-gray-100 rounded-lg h-11 cursor-pointer;
  }

  .map-icon {
    width: 16px !important;
    height: 16px !important;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
  }

  .toggle-switch {
    @apply w-11 h-6 bg-gray-400 rounded-full relative 
            peer-focus:outline-none peer-focus:ring-blue-300 peer-checked:bg-blue-600;

    &::after {
      @apply content-[''] absolute top-[2px] left-[2px] 
              bg-white border rounded-full 
              h-5 w-5 transition-all;
    }

    .peer:checked + &::after {
      @apply translate-x-full border-white;
    }
  }

  dialog.slideover[open] ul {
    animation: slide-in-from-left .3s forwards ease;
  }

  @keyframes slide-in-from-left{
    from {
      transform: translateX(-100%);
    }
  }
}
