@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply py-2 px-5 bg-blue-400 font-semibold rounded-full shadow-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-400 focus:ring-opacity-75;
  }

  .map-icon {
    width: 16px !important;
    height: 16px !important;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
  }

  .toggle-switch {
    @apply w-11 h-6 bg-gray-200 rounded-full relative 
            peer-focus:outline-none peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 
            dark:bg-gray-700 peer-checked:bg-blue-600;

    &::after {
      @apply content-[''] absolute top-[2px] left-[2px] 
              bg-white border-gray-300 border rounded-full 
              h-5 w-5 transition-all dark:border-gray-600;
    }

    .peer:checked + &::after {
      @apply translate-x-full border-white;
    }
  }

  dialog.slideover[open] ul {
    animation: slide-in-from-left .3s forwards ease;
  }

  @keyframes slide-in-from-left{
    from {
      transform: translateX(-100%);
    }
  }
}
