footer.bg-white.border-t.border-gray-200.p-4.text-xs.flex.justify-center
  ul
    li.inline-block.px-4 = link_to '利用規約', page_path('terms')
    li.inline-block.px-4 = link_to 'プライバシーポリシー', page_path('privacy')
